<main class="form-signin w-100 m-auto">

    <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">{{title}}</h1>

  <div class="form-floating">
    <input type="text" class="form-control" id="nombre" placeholder="nombre" [(ngModel)]="nombre">
    <label for="floatingPassword">Nombre</label>
  </div>

  <div class="form-floating">
    <input type="password" class="form-control" id="clave" placeholder="clave" [(ngModel)]="clave">
    <label for="floatingPassword">Contraseña</label>
  </div>

  <button class="w-100 btn btn-lg btn-primary" (click)="Ingresar()">Ingresar</button>


</main>


<router-outlet></router-outlet>
